body { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; color: white; text-align: justify; font-size: 12; background-color: #002040; }

td { font-size:12; }
.transp { ; }
.normcell { background-color: #001A3A; }
.teamTERRORIST { background-color: #3A0000; }
.teamCT { background-color: #003576; }
.teamUNASSIGNED { background-color: #001A3A; }
.teamSPECTATOR { background-color: #222C3A; }


.w-title-big { font-size: 30; font-weight: bold; color: orange; }

A { color: orange; text-decoration: none; }
A:hover { text-decoration: underline; }

table { border: #FFFFFF; border-style: solid; border-width: 1px; }

.error { font-weight: bold; color: orange; }

.small { font-size: 10 };

select { background-color: #002040; color: #FFFFFF; }

input { border-style: solid; border-color: orange; border-width: 1px; }