# This File holds some Tables for buying of weapons and 
# configuration of Weapon Preferences for Personalities
#
# The Tables start from the least desired Weapon to the best.
#
# BE EXTREMELY CAREFULL WITH THESE TABLES BECAUSE A WRONG NUMBER OF ENTRIES 
# OR A SCREWED UP FORMAT CAN EASILY CRASH POD, THERE'S NO ERROR PARSING DONE!

# Numbering of the weapons:
# 0 - KNIFE
# 1 - USP
# 2 - GLOCK18
# 3 - DEAGLE
# 4 - P228
# 5 - ELITE
# 6 - FIVESEVEN
# 7 - M3
# 8 - XM1014
# 9 - MP5NAVY
# 10 - TMP
# 11 - P90
# 12 - MAC10
# 13 - UMP45
# 14 - AK47
# 15 - SG552
# 16 - M4A1
# 17 - GALIL
# 18 - FAMAS
# 19 - AUG
# 20 - SCOUT
# 21 - AWP
# 22 - G3SG1
# 23 - SG550
# 24 - M249
# 25 - SHIELD

# Following are Tables which specify which Team is allowed to buy a weapon on a Map.
# You can also use it to allow/disallow Weapons for a Team or a Map/Gamemode
# 9remember that some Weapons are team-specific and can't be bought by the other team).
#
# -1 = Disallow Buying for any Team
# 0 = Terrorist Team only
# 1 = CT Team only
# 2 = Can be bought by both Teams

# Standard Weapon Tab for CS & DE Maps
[STANDARD]
-1,-1,-1,2,2,0,1,2,2,2,1,2,0,2,0,0,1,0,1,1,2,2,0,1,2,1

# Weapon Tab for AS Maps
[AS]
-1,-1,-1,2,2,0,1,1,1,1,1,1,0,2,0,-1,1,0,1,1,0,0,-1,1,1,1

# Some example Tables:
# Pistols Only
#-1,-1,-1,2,2,0,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
# Shotguns Only
#-1,-1,-1,-1,-1,-1,-1,2,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
# SubMachine-Guns Only
#-1,-1,-1,-1,-1,-1,-1,-1,-1,2,1,2,0,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

# The following Tables stores the Weapon Priorities of the Bots depending on Personality
# (it affects buying & picking up better weapons from the ground).

# Weapon Priorities for a Normal Standard Bot
[NORMAL]
0,2,1,4,5,6,3,12,10,24,25,13,11,8,7,22,23,18,21,17,19,15,17,9,14,16

# Weapon Priorities for an Agressive Bot
[AGRESSIVE]
0,2,1,4,5,6,3,24,19,22,23,20,21,10,12,13,7,8,11,9,18,17,19,15,16,14

# Weapon Priorities for a Defensive Bot
[DEFENSIVE]
0,2,1,4,5,6,3,7,8,12,10,13,11,9,24,18,14,17,16,15,19,20,21,22,23,25
